:root {
  --bg-color: #fdfdfd;
  --text-color: #212529;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --text-color: #e0e0e0;
  }
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
  font-family: "Google Sans Text";
}
